:root {
    --taylorsRed: #E51B22;

    --cardOutlineColor: grey;
    --cardShadowColor : grey;
    --cardBackgroundColor: white;

    --profileCardSubtextColor: grey;

    --statsLeaderboardColor: #E3DFFF;
    --statsPointsColor: #FFDCDC;
    --statsTicketsColor: #FFF2D9;
}

.statsCard {
    background-color: var(--cardBackgroundColor);
    border: 0.05em solid var(--cardOutlineColor);
    border-radius: 1.5em;
    box-shadow: 0.2em 0.2em 0.1em var(--cardShadowColor);
    padding: 1.25em;
    margin: 1.2em;
}

.statsCard__title {
    margin-bottom: 0.5em;
}

.statsCard__item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 0.25em 0em;
    padding: 0.5em;
    border-radius: 3em;
}

.statsCard__data {
    font-weight: bold;
}

.statsCard__logo {
    margin-right: 0.5em;
}

.statsCard__logo__gift {
    display: flex;
    margin-left: 0.5em;
    border: 1px solid black;
    border-radius: 10em;
    padding: 0.25em;
}

.statsCard__item__leaderboard {
    background-color: var(--statsLeaderboardColor);
}

.statsCard__item__points {
    background-color: var(--statsPointsColor);
}

.statsCard__item__tickets {
    background-color: var(--statsTicketsColor);
}

.statsCard__item__desc {
    display: flex;
    width: 100%;
    justify-content: center;
}