.forumHeader__header a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.forumHeader__button {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.25em 1em;
    border-radius: 1.5em;
    gap: 0.5em;
    border: none;
    background-color: var(--primaryButtonBackground);
    color: var(--primaryButtonText);
    font-weight: 800;
    font-size: 1rem;
    box-shadow: 0.1em 0.1em 0.1em var(--cardShadowColor);
}

.threadCard__thread {
    padding: 1em;
    margin: 1em 0em;
    border-radius: 1.5em;
    box-shadow: 0.1em 0.1em 0.1em var(--cardShadowColor);
}

.threadCard__thread a {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-decoration: none;
    color: black;
}

.threadCard__header {
    display: flex;
    justify-content: space-between;
}

.threadCard__header time {
    font-size: 0.875rem;
    color: var(--subtextColor);
}

.threadCard__title {
    width: 80%;
}

.threadCard__threadType {
    font-weight: 800;
    color: var(--taylorsRed);
}

.threadCard__footer {
    display: flex;
    justify-content: space-between;
}

.threadCard__statistics {
    display: flex;
    gap: 1em;
    align-items: flex-end;
    color: var(--taylorsRed);
}

.threadCard__statistics span {
    display: flex;
    gap: 0.125em;
}

.threadCard__profile {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.threadCard__profile__image {
    display: flex;
    align-items: center;
}

.threadCard__profile img {
    max-width: 2em;
    border-radius: 100%;
}

.threadCard__profile__details {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
}

/* Create Thread Component */

.createThread__section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.createThread__header {
    display: flex;
    justify-content: space-between;
    
    & select {
        font-size: 1rem;
        border: none;
        outline: none;
        color: var(--invertedButtonText);
        font-weight: 700;
    }
    
    & button {
        background-color: white;
        border: none;
    }
}

.createThread__input {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    & label {
        font-weight: 700;
    }

    & input {
        padding: 0.875em;
        border-radius: 1em;
        border: 0.05em solid var(--cardOutlineColor);
    }

    & textarea {
        display: flex;
        padding: 0.875em;
        max-width: 100%;
        resize: none;
        border-radius: 1em;
        border: 0.05em solid var(--cardOutlineColor);
    }
}

.createThread__buttons {
    display: flex;
    justify-content: space-between;
}

.createThread__buttons__attachments {
    display: flex;
    gap: 2em;
    button {
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        gap: 0.75em;
        background-color: white;
        border: none;
    }
}

.createThread__submit button{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5em 2em;
    border-radius: 1.5em;
    gap: 0.5em;
    border: none;
    background-color: var(--primaryButtonBackground);
    color: var(--primaryButtonText);
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0.1em 0.1em 0.1em var(--cardShadowColor);
}

