@font-face {
    font-family: 'Open Sans';
    src: url("https://fonts.googleapis.com/css?family=Open Sans");
}

* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

/* Modifies default appearance of scrollbar */

::-webkit-scrollbar {
    width: 0.3em;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Arranges main application into columns -- separating sidebar and main content*/
.mainApplicationGridContainer {
    display: grid;
}

/* For pages with left and right sidebars -- 25% left sidebar, 50% content, 25% right sidebar */
.mainApplicationGridContainer.mainApplicationNarrowBody {
    grid-template-columns: 1fr 2fr 1fr;
}

/* For pages with no right sidebar -- 25% left sidebar, 75% content */
.mainApplicationGridContainer.mainApplicationWideBody {
    grid-template-columns: 1fr 3fr;
}