/* RewardsPageHeader.jsx component */

.contentHeader {
    margin-bottom: 0.5em;
}

.contentHeader header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.9em;
}

.contentHeader button {
    background-color: var(--primaryButtonBackground);
    color: var(--primaryButtonText);
    font-weight: bold;
    border-radius: 1.5em;
    padding: 0.4em 2.8em;
    font-size: 1.1rem;
}

/* Goals listing */

.goalSectionContainer {
    padding: 1em 0;
    width: 100%;
    min-width: 45em;
}

.goalSectionItemContainer {
    background-color: var(--cardBackgroundColor);
    border: 0.05em solid var(--cardOutlineColor);
    border-radius: 0.7em;
    box-shadow: 0.2em 0.2em 0.1em var(--cardShadowColor);
    margin: 0.8em 0;
}

.goalSectionItemContainer a {
    text-decoration: none;
    color: black;
}

.goalSectionItem > * {
    display: inline-block;
    padding: 0;

    vertical-align: middle;

    outline: 1px solid black;
}

.goalSectionItem__goalNumber {
    text-align: center;
    width: 6%;
    margin: 0.7em 0.7em 0.7em 0.2em;
    padding: 0.7em 0;

    font-size: 1.5rem;
    font-weight: bold;
    color: black;

    border-right: 0.09em solid black;
}

.goalSectionItem__goalDescriptionBody {
    width: 78%;
    font-size: 0.9rem;
    white-space: pre-wrap;
}

.goalSectionItem__goalDescriptionBody * {
    margin: 0.3em 0;
}

.goalSectionItem__goalValueContainer {
    text-align: center;
    width: 12%;
    padding: 1.38em 0;
    float: right;

    border-radius: 0 0.65em 0.65em 0;
    color: white;
    font-weight: bold;
}

.goalSectionItem__goalValueContainer.uncompletedGoal {
    background-color: var(--taylorsRed);
}

.goalSectionItem__goalValueContainer.completedGoal {
    background-color: var(--pebbleGreen);
}

.goalSectionItem__goalValueContainer > p {
    font-size: 1.2rem;
}

.goalSectionItem__goalValueContainer > p > span {
    font-size: 1.6rem;
}
