.formBody {
    background-color : lightblue;
}

.inputField {
    border-color: lightcoral;
    border-width: 0.25em;
    margin-bottom: 0.7em;
}

.inputField:focus {
    border-color: red;
}

.errorMessage {
    color: red;
    margin-left: 0.5em;
    font-weight: bold;
}