.pageContainer {
    background-image: var(--registrationCoverImage);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.sidebarContentsContainer {
    height: 100vh;
    width: 52%;
    background-color: var(--registrationBodyBackground);
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebarContentsContainer__appLogo {
    height: 7.1em;
    display: block;
    margin: 2.5em auto 0 auto;
}

.sidebarContentsContainer__formHeader {
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    margin: 1em 0 0.5em 0;
}

.sidebarContentsContainer__loginSectionHeader {
    margin: 1.7em 0 0.9em;
    font-size: 1.6rem;
}

.sidebarContentsContainer__redirectLoginLink {
    text-align: center;
    margin-top: -2em;
    padding-bottom: 5em;
}

.sidebarContentsContainer__redirectLoginLink a {
    color: var(--taylorsRed);
    font-weight: 900;
}

.sidebarContentsContainer__loginFormMainWrapper {
  padding: 0 2em;
}

.sidebarContentsContainer__warningIcon {
  height: 35%;
  width: 35%;
  margin: 1em 32.5% 0em;
}

.sidebarContentsContainer__forgotPasswordHeader {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5em;
}

.sidebarContentsContainer__forgotPasswordText {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1em;
}

.formBody {
    width: 100%;
}

.formBody__loginInputField {
  width: 95.5%;
  margin: 0.6em 0;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.formBody__forgotPasswordInputField {
  width: 95.5%;
  margin: 1.5em 0;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.formBody__registrationInputFieldContainer {
    width: 60%;
    margin: 1.3em 18%;
}

.formBody__registrationInputLabel {
    font-size: 0.9rem;
    font-weight: bold;
}

.formBody__registrationInputField {
    border-color: var(--inputBorderColor);
    border-width: 0.25em;
    margin-top: 0.2em;
    width: 100%;
    font-size: 1rem;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formBody__registrationInputField:focus {
    border-color: var(--inputBorderColorFocused);
}

.formBody__errorMessage {
    color: var(--taylorsRed);
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 0.5em;
}

.formBody__primaryButton {
    display: block;
    margin: 3em auto;
    padding: 0.8em 3em;
    
    background-color: var(--taylorsRed);
    color: var(--primaryButtonText);
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.3em;
    width: 64%;
}

.formBody__primaryButton:disabled {
    background-color: var(--disabledButtonBackground);
    color: var(--disabledButtonText);
}

.formBody__loginPageButton {
  background-color: var(--primaryButtonBackground);
  
  border: none;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;

  width: 100%;
  padding: 0.6em 0;
  
  color: var(--primaryButtonText);
  font-size: 1.4rem;
}

.formBody__loginPageButton img {
  height: 1em;
}

.formBody__loginFormFooter > * {
  margin-bottom: 1em;
  display: inline;
}

.loginFormFooter__forgotPassword a {
  cursor: pointer;
  text-decoration: none;
}

.formBody__loginFormFooter label {
  display: flex;
  align-items: center;
  float: right;
}

.formBody__loginFormFooter input {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.4em;
}

.formBody__loginFormFooter input:hover {
  cursor: pointer;
}

.formBody__loginFormFooter__registrationPageRedirect {
  margin-top: 0.7em;
}

.formBody__loginFormFooter__registrationPageRedirect span {
  margin-left: 0.5em;
  font-weight: bold;
}

.formBody__loginFormFooter__icon {
  width: auto;
  height: 30%;
}

.loginFormFooter__backIcon {
  width: 6%;
  height: 6%;
}

.loginFormFooter__backText  {
  text-align: center;
  align-items: center;
  font-size: 1.3rem;
  color: var(--subtextColor);
}

.formBody__loginFormFooter__loginPageLink {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  text-decoration: none; 
}

.loginFormFooter__backText:visited {
  color: var(--subtextColor); 
}

