@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Defined colors */
    --taylorsRed: #E51B22;
    --pebbleGreen: #18BC2B;
    --hyperlinkBlue: #007BB5;

    
    /* Cards and blocks */
    --overlayBackground: rgba(0, 0, 0, 0.6);
    --cardOutlineColor: grey;
    --cardShadowColor : grey;
    --cardBackgroundColor: white;

        /* Registration page blocks */
        --registrationCoverImage: url(../../public/img/taylorsBackground.png); 
        --registrationBodyBackground: rgba(255, 255, 255, 0.785);

        /* Dashboard page blocks */
        --dashboardStatsLeaderboard: #E3DFFF;
        --dashboardStatsMonthlyPoints: #FFDCDC;
        --dashboardStatsTickets: #FFF2D9;

    /* Text */
    --subtextColor: grey;

    /* Buttons */
    --primaryButtonBackground: var(--taylorsRed);
    --primaryButtonBackgroundHover: rgb(227, 67, 67);
    --primaryButtonText: white;

    --invertedButtonBackground: white;
    --invertedButtonText: var(--taylorsRed);

    --disabledButtonBackground: grey;
    --disabledButtonText: black;

    /* Input fields */
    --inputBorderColor: #7C7C7C;
    --inputBorderColorFocused: var(--taylorsRed);

    
    /* -- Page container highlights -- */
    --sidebarContainerBackground: lightpink;
    --mainContentContainerBackground: lightblue;

    /* -- Z-index --*/
    --PageHeaderZI: 10;
    --NavPanelZI:11;
    --NotificaitonPanelZI:12;
    
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


.NotificationPanelContainer{
    height:100vh;
    width:25vw;
    display:flex; 
    flex-direction: column;
    z-index: var(--NotificaitonPanelZI);

    /* for hiden state */
    position: fixed;
    top:0;
    left:-250vw;
    transition: left 0.3s ease-in-out;
}

/* for visible state */
.visible{
    left:0;
}

.Header{
    height:10%;
    background-color: var(--taylorsRed);
    display:flex; 
    align-items: center;
    justify-content: space-between;
}

.BackArrow{
    height:50%;
    width:auto;
    margin-left:4%;
    cursor: pointer;
}

.HeaderText{
    margin-right:35%;
    color:white;

}

.Body{
    background-color: white;
    overflow-y: scroll;
    width:100%;
    height:90%;
}

.TextContainer{
    /* border: 3px dotted green; */
    display:flex;
    flex:1;
}

