.postCard {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 0.05em solid var(--cardOutlineColor);

    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    margin-bottom: 1rem;
}

.postHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.profilePicture {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
}

.userDetails {
    flex-grow: 1;
    margin-left: 10px;
}

.userDetails h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
}

.userDetails p {
    font-size: 0.9em;
    color: #555;
    margin: 2px 0;
}

.linkedinIcon {
    font-size: 2.5em; /* Same size as profile picture */
    color: #0077b5; /* LinkedIn blue */
    padding: 0.2em;
    transition: transform 0.2s ease-in-out;
}

.linkedinIcon:hover {
    transform: scale(1.1);
}

.postImageContainer {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.postImage {
    width: 100%;
    height: auto;
    display: block;
}

.postContent {
    padding: 10px 0;
}

.postMeta {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 1em;
}

.taggedName {
    font-weight: bold;
    color: #0073b1;
    font-size: 1em;
}

.postDesc {
    font-size: 1em;
    color: #333;
    margin-top: 5px;
}

.readMore {
    background-color: transparent;
    border: none;
    color: #0073b1;
    font-size: 0.8em;
    cursor: pointer;
    padding: 5px 0;
    font-weight: bold;
}

.readMore:hover {
    text-decoration: underline;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #ddd; /* Light grey line */
    margin: 10px 0; /* Spacing above and below */
    border: none;
}

.postActions {
    display: flex;
    justify-content: center; /* Center the icons */
    gap: 4em; /* Space between icons */
    padding: 10px 0;
}

.action {
    cursor: pointer;
    font-size: 1.2rem; /* Adjust icon size */
    transition: transform 0.2s ease-in-out;
}

.action:hover {
    transform: scale(1.2); /* Slightly enlarge on hover */
}