.Container{
    width:90%;
    height:100%;
    display:flex; 
    flex-direction: column;
    background-color: white;
    align-items: center;
    position:relative; 
    overflow-y: hidden;
    padding-bottom: 10%;
}

.Wheel{
    height:100%;
    width:auto; 
}

.TicketCount{
    color:#B30208;
}

.WheelContainer{
    margin-top:5%;
    height:90%;
    width:auto; 
    display:flex; 
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}


.SpinNow{
    position:relative;
    width:25%;
    /* left:37.5%; */
    /* top:10%; */
    bottom:54.5%;
}

.Pointer{
    width:15%;
    height:auto;
    position: relative;
    bottom: 120%;
}

/* Tablet Styles */
@media (max-width: 48em) {
    .Container {
        padding-bottom: 15%;
    }

    .Wheel {
        max-width: 25rem;
    }

    .SpinNow {
        max-width: 6.25rem;
    }

    .Pointer {
        max-width: 3.75rem;
    }
}

/* Mobile Styles */
@media (max-width: 30em) {
    .Container {
        padding-bottom: 20%;
    }

    .Wheel {
        max-width: 18.75rem;
    }

    .SpinNow {
        max-width: 5rem;
    }

    .Pointer {
        max-width: 3.125rem;
    }
}

/* Small Mobile Styles */
@media (max-width: 20em) {
    .Container {
        padding-bottom: 25%;
    }

    .Wheel {
        max-width: 15.625rem;
    }

    .SpinNow {
        max-width: 4.375rem;
    }

    .Pointer {
        max-width: 2.5rem;
    }
}