/* Global sidebar styling */

.sidebarContainer {
    background-color: var(--sidebarContainerBackground);
    height: 90vh;
    min-width: 16em;
    margin-top: 10vh;
    
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebarContainer > * {
    background-color: var(--cardBackgroundColor);
    border: 0.05em solid var(--cardOutlineColor);
    border-radius: 1.5em;
    box-shadow: 0.2em 0.2em 0.1em var(--cardShadowColor);
    padding: 0;
    margin: 1.2em;
}

/* ----------------------------------------------------------------------- */

/* Profile sidebar card */

.profileSidebarCard__bannerImage {
    width: 100%;
    height: 6em;
    border-radius: 1.5em 1.5em 0 0;
    object-fit: cover;
    object-position: center 80%;
}

.profileSidebarCard__profilePictureBorder {
    width: 7em;
    position: relative;
    top: -3.5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.profileSidebarCard__profilePicture {
    width: 6.7em;
    border-radius: 100%;
    position: relative;
    top: -10.64em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.profileSidebarCard__mainBody {
    margin: -9.5em 0.8em 1.5em 0.8em;
}

.profileSidebarCard__mainBody__userHeader {
    text-align: center;
}

.profileSidebarCard__mainBody__userHeader h1 {
    font-weight: 900;
}

.profileSidebarCard__mainBody__userHeader p {
    font-size: 0.8rem;
    color: var(--subtextColor);
}

.profileSidebarCard__mainBody__editButtonContainer hr {
    margin: 0 0.3em 1em 0.3em;
}

.profileSidebarCard__mainBody__editButtonContainer a {
    text-decoration: none;
}

.profileSidebarCard__mainBody__editButtonContainer button {
    display: block;
    margin: auto;
    padding: 0.12em 0;
    text-align: center;
    width: 80%;
    border: none;
    border-radius: 3em;
    background-color: var(--primaryButtonBackground);
    color: var(--primaryButtonText);
    font-weight: 900;
    font-size: 1rem;
    box-shadow: 0.1em 0.1em 0.1em var(--cardShadowColor);
}

.profileSidebarCard__mainBody__editButtonContainer button:hover {
    background-color: var(--primaryButtonBackgroundHover);
}

.profileSidebarCard__mainBody__editButtonContainer button img {
    display: inline;
    height: 1rem;
    padding-left: 0.5em;
}

.profileSidebarCard__mainBody__additionalInformation h5 {
    margin-top: 1.7em;
    margin-bottom: 0.3em;
    font-size: 0.9rem;
}

.profileSidebarCard__mainBody__additionalInformation p {
    font-size: 0.78rem;
    text-align: justify;
    text-justify: inter-word;
}

.profileSidebarCard__mainBody__additionalInformation__contactLine {
    display: inline-block;
    width: 99%;
    margin: 0 0 -0.2em 0.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profileSidebarCard__mainBody__additionalInformation__contactLine img {
    height: 0.9rem;
}

.profileSidebarCard__mainBody__additionalInformation__contactLine span {
    font-size: 0.78rem;
    margin-left: 0.4em;
    vertical-align: top;
}

/* ----------------------------------------------------------------------- */

/* Network sidebar card */
.networkSidebarCard {
    width: 94%;
    margin: 0.5em 3%;
    background-color: var(--cardBackgroundColor);
    border-radius: 1.5em;
}

.networkSidebarCard__myNetwork {
    display: flex;
    flex-direction: column;
}

.networkSidebarCard__myNetwork h3,
.networkSidebarCard__peopleYouMayKnow h3 {
    margin: 1em 1em 1em;
    font-size: 1.2rem;
}

.networkSidebarCard__myNetwork span {
    color: var(--taylorsRed);
}

.networkSidebarCard__myNetwork__userTileContainer {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 0 0.3em 5%;
}

.networkSidebarCard__myNetwork__userTile {
    width: 75%;
    text-align: center;
    margin-bottom: 0.8em;
    cursor: pointer;
}

.networkSidebarCard__myNetwork__userTile img,
.networkSidebarCard__peopleYouMayKnow__userTile img {
    width: 3.2em;
    height: 3.2em;
    border: 0.1em solid #ccc;
    border-radius: 50%;
    object-fit: cover;
}

.networkSidebarCard__myNetwork__userTile p {
    margin-top: 0.5em;
    font-size: 0.8rem;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.networkSidebarCard__myNetwork__seeMoreButton {
    width: 40%;
    margin: 0.2em 30% 0.9em;
    padding: 0.6em;

    border: solid 0.15em white;
    border-radius: 0.5em;
    background-color: var(--primaryButtonBackground);

    color: var(--primaryButtonText);
    font-size: 0.9rem;
}

.networkSidebarCard__myNetwork__seeMoreButton:hover {
    background-color: var(--invertedButtonBackground);
    color: var(--invertedButtonText);
    border: solid 0.15em var(--taylorsRed);
}

.networkSidebarCard__peopleYouMayKnow__userTile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin: 0 1em 1.5em 1em;
}

.networkSidebarCard__peopleYouMayKnow__userDetails {
    flex-grow: 1;
    margin: 0 2em 0 0.9em;
}

.networkSidebarCard__peopleYouMayKnow__userDetails p:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.3em;
}

.networkSidebarCard__peopleYouMayKnow__userDetails p:nth-child(2) {
    font-size: 0.7rem;
    color: var(--subtextColor);
}

.networkSidebarCard__peopleYouMayKnow__followButton  {
    padding: 0.6em 1.2em;
    
    background-color: var(--invertedButtonBackground);
    border: solid 0.15em var(--invertedButtonText);
    border-radius: 0.5em;

    color: var(--taylorsRed);
    font-size: 0.9em;
    font-weight: 500;
}

.networkSidebarCard__peopleYouMayKnow__followButton:hover {
    background-color: var(--primaryButtonBackground);
    color: var(--primaryButtonText);
}

.networkSidebarCard__peopleYouMayKnow__seeAllButton {
    width: 40%;
    margin: 0.2em 30% 0.6em;
    padding: 0.6em;

    border: none;

    color: var(--hyperlinkBlue);
    font-size: 0.9rem;
    background-color: white;
}

/* ----------------------------------------------------------------------- */

/* Dashboard Stats sidebar card */
.statsSidebarCard {
    padding: 1.25em;
}

.statsSidebarCard h2 {
    margin-bottom: 0.5em;
}

.statsSidebarCard__item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 0.25em 0em;
    padding: 0.5em;
    border-radius: 3em;
}

.statsSidebarCard__data {
    font-weight: bold;
}

.statsSidebarCard__logo {
    margin-right: 0.5em;
}

.statsSidebarCard__logo__gift {
    display: flex;
    margin-left: 0.5em;
    border: 1px solid black;
    border-radius: 10em;
    padding: 0.25em;
}

.statsSidebarCard__item__leaderboard {
    background-color: var(--dashboardStatsLeaderboard);
}

.statsSidebarCard__item__points {
    background-color: var(--dashboardStatsMonthlyPoints);
}

.statsSidebarCard__item__tickets {
    background-color: var(--dashboardStatsTickets);
}

.statsSidebarCard__item__desc {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* ----------------------------------------------------------------------- */

/* Currency sidebar card */
.currencySidebarCard {
    margin: 0.8em;
}

.currencySidebarCard h5 {
    margin: 0.5em 0 0.3em;
    font-size: 0.9rem;
}

.currencySidebarCard p {
    font-size: 0.7rem;
    text-align: justify;
    text-justify: inter-word;
}

.currencySidebarCard hr {
    margin-top: 0.5em;
}

.currencySidebarCard__buttonRow {
    justify-content: center;
    display: flex;
    margin-bottom: 0.8em;
}

.currencySidebarCard__buttonRow button {
    display: block;
    padding: 0.3em 2em;
    margin: 0 0.35em;

    border: none;
    border-radius: 3em;
    background-color: var(--primaryButtonBackground);
    box-shadow: 0.1em 0.1em 0.1em var(--cardShadowColor);

    color: var(--primaryButtonText);
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

/* ----------------------------------------------------------------------- */

/* CV sidebar card */
.cvSidebarCard {
    padding: 1.25em;
}

.cvSidebarCard__viewCVTile {
    margin-top: 1em;
    text-align: center;
}

.cvSidebarCard__viewCVTile img {
    width: 80%;
}

.cvSidebarCard__viewCVTile button {
    position: relative;
    top: -12em;
    z-index: 1;

    padding: 0.4em 3em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    border: 0.15em solid var(--invertedButtonText);
    color: var(--invertedButtonText);
    font-weight: bold;
}

.cvSidebarCard__viewCVTile button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.cvSidebarCard__generateCVButton {
    display: block;
    margin: -0.9em auto 0.6em auto;

    padding: 0.3em 3em;
    background-color: var(--primaryButtonBackground);
    border-radius: 1em;
    color: var(--primaryButtonText);
    font-weight: bold;
    font-size: 0.9rem;
}