/* Global sidebar styling */

.sidebarContainer {
    background-color: var(--sidebarContainerBackground);
    height: 100vh;
    min-width: 16em;

    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebarCard {
    background-color: var(--cardBackgroundColor);
    border: 0.05em solid var(--cardOutlineColor);
    border-radius: 1.5em;
    box-shadow: 0.2em 0.2em 0.1em var(--cardShadowColor);
    padding: 0;
    margin: 1.2em;
}

/* Profile sidebar card */

.profileSidebarCard__bannerImage {
    width: 100%;
    height: 6em;
    border-radius: 1.5em 1.5em 0 0;
    object-fit: cover;
    object-position: center 80%;
}

.profileSidebarCard__profilePictureBorder {
    width: 7em;
    position: relative;
    top: -3.5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.profileSidebarCard__profilePicture {
    width: 6.7em;
    border-radius: 100%;
    position: relative;
    top: -10.64em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.profileSidebarCard__mainBody {
    margin: -9.5em 0.8em 1.5em 0.8em;
}

.profileSidebarCard__mainBody__userHeader {
    text-align: center;
}

.profileSidebarCard__mainBody__userHeader h1 {
    font-weight: 900;
}

.profileSidebarCard__mainBody__userHeader p {
    font-size: 0.8rem;
    color: var(--subtextColor);
}

.profileSidebarCard__mainBody__editButtonContainer hr {
    margin: 0 0.3em 1em 0.3em;
}

.profileSidebarCard__mainBody__editButtonContainer a {
    text-decoration: none;
}

.profileSidebarCard__mainBody__editButtonContainer button {
    display: block;
    margin: auto;
    padding: 0.12em 0;
    text-align: center;
    width: 80%;
    border: none;
    border-radius: 3em;
    background-color: var(--primaryButtonBackground);
    color: var(--primaryButtonText);
    font-weight: 900;
    font-size: 1rem;
    box-shadow: 0.1em 0.1em 0.1em var(--cardShadowColor);
}

.profileSidebarCard__mainBody__editButtonContainer button:hover {
    background-color: var(--primaryButtonBackgroundHover);
}

.profileSidebarCard__mainBody__editButtonContainer button img {
    display: inline;
    height: 1rem;
    padding-left: 0.5em;
}

.profileSidebarCard__mainBody__additionalInformation h5 {
    margin-top: 1.7em;
    margin-bottom: 0.3em;
    font-size: 0.9rem;
}

.profileSidebarCard__mainBody__additionalInformation p {
    font-size: 0.78rem;
    text-align: justify;
    text-justify: inter-word;
}

.profileSidebarCard__mainBody__additionalInformation__contactLine {
    display: inline-block;
    width: 99%;
    margin: 0 0 -0.2em 0.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profileSidebarCard__mainBody__additionalInformation__contactLine img {
    height: 0.9rem;
}

.profileSidebarCard__mainBody__additionalInformation__contactLine span {
    font-size: 0.78rem;
    margin-left: 0.4em;
    vertical-align: top;
}

/* Network Card */
.networkCardContainer {
    width: 94%;
    margin: 0.5em 3%;
    background-color: var(--cardBackgroundColor);
    border-radius: 1.5em;
    box-shadow: 0.2em 0.2em 0.1em var(--cardShadowColor);
}

.networkCardContent {
    width: 94%;
    margin: 0.5em 3%;
    background-color: var(--cardBackgroundColor);
    border-radius: 1.5em;
}



/* "My Network" Section */
.myNetworkCard {
    text-align: center;
    width: 75%;
}


.myNetworkProfilePicture {
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.myNetworkProfileName {
    font-size: 0.8rem;
    font-weight: 500;
    color: #333;
    margin-top: 0.5em;
    text-align: center;
}

/* "People You May Know" Section */
.suggestedNetworkCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 12px;
    margin-bottom: 12px;
}

.suggestedNetworkProfilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.suggestedNetworkDetails {
    flex-grow: 1;
    margin: 0 2em;
}

.networkTitle {
    margin: 2em 1.5em 0.8em;
    font-size: 0.8rem;
}

.myNetwork {
    display: flex;
    flex-direction: column;
}

.suggestedNetworkName {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.suggestedNetworkSubline {
    font-size: 0.7rem;
    color: #555;
    margin: 4px 0 0 0;
}

.followButton  {
    background-color: white;
    border: solid 2.2px var(--taylorsRed);
    color: var(--taylorsRed);
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.6em 1.2em;
    border-radius: 4px;
    cursor: pointer;
}

.followButton:hover {
    background-color: var(--taylorsRed);
    color: white;
}


.myNetwork1 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.seeMoreButton{
    background-color: var(--taylorsRed);
    color: white;
    font-size: 0.9rem;
    padding: 0.6em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    margin: 0.2em 30% 0em;
}

.seeMoreButton:hover {
    background-color: white;
    color: var(--taylorsRed);
    border: solid 2.2px var(--taylorsRed);
    border-radius: 4px;
}

.seeAllButton{
    background-color: white;
    color: var(--hyperlinkBlue);
    font-size: 0.9rem;
    padding: 0.6em;
    border: none;
    cursor: pointer;
    width: 40%;
    margin: 0.2em 30% 0.6em;
}


.networkNumber {
    color: var(--taylorsRed);
}

.myNetwork1 {
    margin-left: 5%;
    margin-bottom: 1em;
}